.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Firebase related files
.firebaserc
database.rules.json
firebase.json
storage.rules

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
*.sublime-project
